<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/nav'); -%>
        <main>
            <section id="about-page">
                <h1>Welcome</h1>
                    <p>Hello Admin, Welcome to the Dashboard</p>
            </section>
        </main>
</body>

<%- include('layouts/footer'); -%>